html
  head
    title Weather App
  body
    h1(style="text-align: center") Weather App
    form(action="/weather" method="GET" style="text-align: center")
      input(type="text" name="city" placeholder="Enter city name")
      button(type="submit") Search

    // Add elements to display weather info. Ex:
    #weather-info(style="text-align: center")
      if weatherData
        h2 #{weatherData.name}
        p Temperature: #{weatherData.temp}
        p Description: #{weatherData.description}
